body {
    font-family: 'Montserrat', sans-serif;
}

i {
    font-size: 1.7rem;
    padding: .65rem;
    color: #b1b1b1;
}

.my-app-container{
    padding: 4rem 7rem;
    background-color: lightgrey;
    height: 100vh;
}

/* * LEFT side of app (all the chats) */
.my-chat-container {
    background-color: white;
}

.my-border-left-side {
    border-right: 2px solid #d5d5d5;
}

.my-bg-light-gray {
    background-color: #f0f0f0;
}

.my-avatar-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.my-notification-section {
    background-color: #8edafc;
}

.my-notification-bell {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
}

.my-notification-bell i {
    color: #8edafc;
    font-size: 1.5rem;
}

.my-input-search {
    border: none;
    width: 80%;
}

.my-specific-chat:hover {
    background-color: #e9ebeb;
}


/* * RIGHT side of app (specific chat) */

.my-main-current-chat {
    background-image: url(../img/background-chat.jpg);
}

.my-msg {
    border-radius: 1rem;
    padding: .6rem;
}

.my-msg p {
    margin: 0;
}

.my-msg-sent {
    background-color: #d5f9ba;
}

.my-msg-received {
    background-color: white;
}

.my-write-msg-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.my-input-write-msg {
    height: 50px;
}